@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.text_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.screen_text {
    color: white;
    z-index: 2;
    /*-webkit-text-stroke: 1px black;*/
    text-shadow:
            2px  2px 1px #000000,
            -2px  2px 1px #000000,
            2px -2px 1px #000000,
            -2px -2px 1px #000000,
            2px  0 1px #000000,
            0 2px 1px #000000,
            -2px  0 1px #000000,
            0 -2px 1px #000000;

    --font_size: 32;
    font-family: 'Noto Sans JP', sans-serif;
    padding-left: calc(var(--screem_width) * 4  / var(--font_size) );
    font-size: calc(var(--screem_width) / var(--font_size) );
    top: calc((var(--screem_width) * 9 / 16 ) / 2 - (var(--screem_width) /var(--font_size)));
    opacity: 1;
    position: absolute;
}

.screen_text_hide {
    opacity: 0;
}