
#waiting_wrapper {
    position: absolute;
    top: 0;
}

#waiting_wrapper > * {
    color: white;
    z-index: 4;
    /*-webkit-text-stroke: 1px black;*/
    text-shadow:
            2px  2px 1px #000000,
            -2px  2px 1px #000000,
            2px -2px 1px #000000,
            -2px -2px 1px #000000,
            2px  0 1px #000000,
            0 2px 1px #000000,
            -2px  0 1px #000000,
            0 -2px 1px #000000;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: calc(var(--screem_width) / var(--font_size) );
}

:root {
    --time_font_size: 20;
    --info_title_font_size: 24;
    --info_text_font_size: 32;
    --arrow_color: #bfbfbf;
    --arrow_line_size: 10px;
}
#waiting_wrapper {
    padding: 0;
    margin: 0;

    height: calc(var(--screem_width) *9 /16);
}

#waiting_wrapper > * {
    opacity: unset;
}

#waiting_time_connect {
    width: calc(var(--screem_width) * 3/10);
    grid-area: time_connecter;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
#waiting_time_connect_line {
    width: 100%;
    margin-right: var(--arrow_line_size);
    margin-left: var(--arrow_line_size);
    height: var(--arrow_line_size);
    background-color: var(--arrow_color);
}

#waiting_time_connect_arrow {
    position: absolute;
    right: 0;
    --arrow_size: 28;
    height: calc(var(--screem_width) / var(--arrow_size));
    width: calc(var(--screem_width) / var(--arrow_size) );
    transform-origin: right top;
    transform: translateY(calc(var(--screem_width) / (var(--arrow_size)*2) )) rotate(45deg) ;
    box-sizing: border-box;
    border-top: var(--arrow_color) 10px solid;
    border-right: var(--arrow_color) 10px solid;
}

#waiting_time > * {
    font-size: calc(var(--screem_width) / var(--time_font_size) );
}

#waiting_time {
    justify-content: center;
    align-items: center;
    width: var(--screem_width);
    background-color: rgba(40,40,40,70%);
    display: flex;
    height: calc(var(--screem_width) /10);
}
#waiting_inf {;
    justify-content: center;
    align-items: center;
    width: var(--screem_width);
    background-color: rgba(40,40,40,50%);
    display: flex;
    flex-flow: column;
    height: calc(var(--screem_width) * 9 / 16 - var(--screem_width) /10);
}

.info_title{
    font-size: calc(var(--screem_width) / var(--info_title_font_size) );
}
.info_text {
    font-size: calc(var(--screem_width) / var(--info_text_font_size) );
}
.spacer_width20 {
    height: calc(var(--screem_width) /20);
}
.info_text_pic {

    vertical-align: middle;
    height: calc(var(--screem_width) *1.5 / var(--info_text_font_size) );
}